extends /layout
block content
	.container
		.row
			h3=title
		.row
			table.table.table-hover.table-border
				thead
					tr
						th 电影名字
						th 导演
						th 国家
						th 上映年份
						th 录入年份
						th 查看
						th 更新
						th 删除
				tbody
					each item in movies
						tr(id="item-id-#{item._id}")
							td=item.title
							td=item.doctor
							td=item.country
							td=item.year
							td=item.meta.createAt
							td: a(target="_blank",href="../movies/#{item._id}") 查看
							td: a(target="_blank",href="../movies/update/#{item._id}") 查看
							td
								button.btn.btn-danger.del(type="button" delete-id=item._id) 删除